@{
    ViewBag.Title = "Informações da Empresa";
    ViewBag.Empresa = "active";
    ViewBag.IndexEmpresa = "active";
    ViewBag.AriaEmpresa = "false";
    ViewBag.Show = "show";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<h3 class="TitlePage">Informações da Empresa</h3>