
@{
    ViewBag.Title = "IndexCobrador";
    Layout = "~/Views/Shared/_LayoutCobrador.cshtml";
}
<div class="row">
    <a href="@Url.Action("CobrancaIndex","Cobranca")" style="width: 100%; margin: 20px 20px 0px 20px;">
        <div class="card text-white">
            <div class="card-header" style="font-weight: bold; background-color: #4e73df;">Realizar Cobrança</div>
            <div class="card-body" style="color:black">
                <p class="card-text">Clique aqui para fazer uma cobrança.</p>
            </div>
        </div>
    </a>
</div>
