
@{
    ViewBag.Title = "Emprestimo";
    ViewBag.CadastrarEmprestimo = "active";
    ViewBag.Emprestimo = "active";
    ViewBag.AriaEmprestimo = "false";
    ViewBag.ShowEmprestimo = "show";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<h3 class="TitlePage">Simulação de Emprestimo</h3>
@using (Html.BeginForm("EmprestimoCadastrar", "Emprestimo", FormMethod.Post))
{
    <div class="form-row">
        <div class="col">
            <label for="cliente">Cliente</label>
            <select class="form-control" id="cliente" name="cliente">
                <option value="0" selected>Selecione um Cliente</option>
                @if (ViewBag.ListaClientes != null)
                {
                    foreach (var cliente in ViewBag.ListaClientes)
                    {
                        <option value="@cliente.Id">@cliente.Nome</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <label for="TotalEmprestimo" class="form-label">Montante Pego</label>
            <input type="number"
                   value="100"
                   class="form-control"
                   id="TotalEmprestimo"
                   name="TotalEmprestimo"
                   placeholder="Montante Pego" required>
        </div>
        <div class="col">
            <label for="QuantidadeParcela" class="form-label">Quantidade de Parcelas</label>
            <input type="number"
                   value="2"
                   class="form-control"
                   id="QuantidadeParcela"
                   name="QuantidadeParcela"
                   placeholder="Quantidade de Parcelas" required>
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <label for="PorcentagemJuros" class="form-label">Porcentagem de Juros</label>
            <input type="number"
                   value="10"
                   class="form-control"
                   id="PorcentagemJuros"
                   name="PorcentagemJuros"
                   placeholder="Porcentagem de Juros" required>
        </div>
        <div class="col">
            <label for="DiaCobranca" class="form-label">Dia para cobrança</label>
            <input class="dinheiro form-control"
                   value="15"
                   id="DiaCobranca"
                   name="DiaCobranca"
                   placeholder="Dia para cobrança" required>
        </div>
    </div>
    <br />
    <div class="text-center">
        <a class="btn btn-primary" onclick="AparecerParcelas()">Simular Emprestimo</a>
    </div>
    <div id="DivParcelas" hidden style="margin-top:35px">
        <div class="card">
            <div class="card-header">
                    <h3>Parcelas</h3>
                </div>
            <div id="tabela" class="card-body">
            </div>
        </div>
        <br />
        <div class="text-center">
            <button class="btn btn-primary btn-user my-3" type="submit">
                Fazer Emprestimo
            </button>
        </div>
    </div>
}