@model List<NIRAC_BUSINESS.Models.DTO.UsuarioDTO>
@{
    ViewBag.Title = "Lista de Cliente";
    ViewBag.Cliente = "active";
    ViewBag.IndexCliente = "active";
    ViewBag.AriaCliente = "false";
    ViewBag.ShowCliente = "show";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<h2>Lista de Clientes</h2>
@if (Model.Count > 0)
{
    <div class="table table-responsive-md">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Código</th>
                    <th scope="col" class="text-center">Nome</th>
                    <th scope="col" class="text-center">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var funcionario in Model)
                {
                    <tr>
                        <td scope="row" class="text-center">@funcionario.Id</td>
                        <td class="text-center">@funcionario.Nome</td>
                        <td width="250px" class="text-center">
                            <a class="btn btn-primary btn-sm" href="@Url.Action("ClienteEditar","Usuario", new { id = funcionario.Id })">Editar</a>
                            <a class="btn btn-primary btn-sm" href="@Url.Action("Deletar","Usuario", new { id = funcionario.Id })">Deletar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <h3 class="text-center">Nenhum cliente cadastrado!</h3>
}