@model NIRAC_BUSINESS.Models.DTO.UsuarioDTO
@{
    ViewBag.Title = "Editar Cliente";
    ViewBag.IndexCliente = "active";
    ViewBag.Cliente = "active";
    ViewBag.AriaCliente = "false";
    ViewBag.ShowCliente = "show";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<h2>Cliente Editar</h2>
@if (Model != null)
{
    using (Html.BeginForm("Editar", "Cliente", FormMethod.Post))
    {
        <div class="form-row">
            <div class="col">
                <label for="Nome" class="form-label">Nome Completo</label>
                <input type="text" class="form-control" id="Nome" name="UsuarioDAO.Nome" placeholder="Nome Completo" required>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-user my-3">
                Editar
            </button>
        </div>
    }
}
else
{
    <h2 class="TitlePage">Nenhum cliente cadastrado!</h2>
}