@model NIRAC_BUSINESS.Models.DTO.UsuarioDTO
@{
    ViewBag.Title = "Editar Cliente";
    ViewBag.IndexCliente = "active";
    ViewBag.Cliente = "active";
    ViewBag.AriaCliente = "false";
    ViewBag.ShowCliente = "show";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<h2>Cliente Editar</h2>

