@model NIRAC_BUSINESS.Models.DTO.UsuarioDTO
@{
    ViewBag.Title = "Editar Funcionario";
    ViewBag.IndexFuncionario = "active";
    ViewBag.Funcionario = "active";
    ViewBag.AriaFuncionario = "false";
    ViewBag.ShowFuncionario = "show";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<h2>Funcionario Editar</h2>

