
@{
    ViewBag.Title = "Cadastrar Funcionario";
    ViewBag.CadastrarFuncionario = "active";
    ViewBag.Funcionario = "active";
    ViewBag.AriaFuncionario = "false";
    ViewBag.ShowFuncionario = "show";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<h3 class="TitlePage">Cadastrar Funcionario</h3>
@using (Html.BeginForm("FuncionarioCadastrar", "Usuario", FormMethod.Post))
{


<div class="form-row">
        <div class="col">
            <label for="Nome" class="form-label">Nome Completo</label>
            <input type="text" class="form-control" id="Nome" name="UsuarioDAO.Nome" placeholder="Nome Completo" required>
        </div>
    </div><div class="form-row">
        <div class="col">
            <label for="CPF" class="form-label">CPF</label>
            <input class="cpf form-control"
                   id="CPF" name="UsuarioDAO.CPF" placeholder="CPF" required>
        </div>
        <div class="col">
            <label for="Email" class="form-label">E-mail</label>
            <input type="email" class="form-control" id="Email" name="UsuarioDAO.Email" placeholder="E-mail" required>
        </div>
    </div><div class="form-row">
        <div class="col">
            <label for="RG" class="form-label">RG</label>
            <input type="text" class="form-control" id="RG" name="UsuarioDAO.RG" placeholder="RG">
        </div>
        <div class="col">
            <label for="Telefone" class="form-label">Telefone</label>
            <input type="text" class="form-control" id="Telefone" name="UsuarioDAO.Telefone" placeholder="Telefone">
        </div>
    </div><div class="form-row">
        <div class="col">
            <label for="Senha" class="form-label">Senha</label>
            <input type="password" class="form-control" id="Senha" name="UsuarioDAO.Senha" placeholder="Senha" required>
        </div>
        <div class="col">
            <label for="ConfirmarSenha" class="form-label">Confirmar Senha</label>
            <input type="password" class="form-control" id="ConfirmarSenha" name="ConfirmarSenha" placeholder="Confirmar Senha" required>
        </div>
    </div><div class="form-row">
        <div class="col">
            <label for="estadocivil" class="form-label">Estado Civil</label>
            <select class="form-control" id="estadocivil" name="estadocivil">
                <option value="0" selected>Selecione...</option>
                <option value="1">Solteiro</option>
                <option value="2">Casado</option>
                <option value="3">Separado</option>
                <option value="4">Divorciado</option>
                <option value="5">Viúvo</option>
            </select>
        </div>
        <div class="col">
            <label for="genero" class="form-label">Genero</label>
            <select class="form-control" id="genero" name="genero">
                <option value="0" selected>Selecione um genero</option>
                <option value="1">Masculino</option>
                <option value="2">Feminino</option>
            </select>
        </div>
        <div class="col">
            <label for="tipo" class="form-label">Tipo</label>
            <select class="form-control" id="tipo" name="tipo">
                <option value="0" selected>Selecione um Tipo</option>
                <option value="1">Motoboy</option>
                <option value="2">Consultor</option>
                <option value="3">Contador</option>
            </select>
        </div>
    </div><div class="form-row">
        <div class="col">
            <label for="cidade">Cidade</label>
            <select class="form-control" id="cidade" name="cidade">
                <option value="0" selected>Selecione uma cidade</option>
                @foreach (var cidade in ViewBag.Cidades)
                {
                    <option value="@cidade.Id">@cidade.Nome</option>
                }
            </select>
        </div>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary btn-user my-3">
            Cadastrar
        </button>
    </div>
}