
@{
    ViewBag.Title = "Lista de Funcionario";
    ViewBag.IndexFuncionario = "active";
    ViewBag.Funcionario = "active";
    ViewBag.AriaFuncionario = "false";
    ViewBag.ShowFuncionario = "show";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<h2>Lista de Funcionarios</h2>

